*{
    margin: 0;
    padding: 0;
}

body{
    padding: min(50px, 7%);
}

.gameContainer
{
    background-color: rgb(87, 87, 87);
    display:grid;
    grid-gap:20px;

    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: auto 1fr auto;

    /* position: static; */

    box-sizing: border-box;

    /* align-content: normal;
    justify-content:center;
    align-items: normal;
    justify-items: normal; */
}

.mainGameFrame
{
    border: 1px solid #63e3c2;
    display:flexbox;
    position:relative;
    z-index:0;
    font-weight:800;
    line-height:1;
    font-size:1.2rem;
    /* background:#1f0a4d; */


   word-break: break-word;

   /* padding: 1em; */

   aspect-ratio: 1/2.3;
   max-width: 255px;
   min-width: 165px;
   max-height: 500px;
    /* width: auto;
    height: auto; */

    overflow: hidden;
}

.mainGameFrame:hover ~ .infoFrame{
    width: 50%;
}


.bottomFrame
{
    position: relative;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;

    position: relative;
    /* width: 272px;
    height: 168px;
    left: 0px;
    top: 77px; */
    width: 100%;
    height: 100%;

    background:#1f0a4d;
    /* left: 0px;
    top: 77px; */
}

.infoFrame{
    z-index:3;
    position: absolute;
    background: rgba(7, 7, 7, 0);
    width: 100%;

    /* display: flex; */
    align-items: center;
    justify-content: center;
    /* position: absolute; */
    /* top: -22px; */
    height: 55%;
    /* left: 0px; */
    top: 55%;
    transition: 1s ease;
    /* animation: contract 1s;
    animation-fill-mode: forwards; */
    /* top:auto; */
    /* animation: expand 1s; */
    /* animation: expand 1s infinite; */
   
}

/* @keyframes expand{
   100%{top: 30%}
}

@keyframes contract{
   100%{top: 55%}
} */

.infoFrame:w{
    /* cursor: pointer; */
    /* height: 55%; */
    /* top: 41%; */
    /* animation-name: expand; */
    top: 41%
    /* animation: expand 1s;
    animation-fill-mode: forwards; */
    /* animation-timing-function: ease; */
    /* font-size: 1rem; */
}



.hoverNote{
    color: gold;
    text-align: center;
    font-size: 0.8rem;
    font-weight: 600;
    padding-left: 15px;
    padding-right: 15px;
}

.platformFrame{
    
    position: relative;
    width: auto;
    height: 22px;
    /* left: 0px; */
    /* top: 54px; */
    /* stop: -19px; */
    background: rgba(0,0,0,.55);
    backdrop-filter: blur(5px);

    text-align: center;
    color: white;
    
    /* max-width: calc(100% - 31px); FOR TEXT */
}

.platformText{
    font-size: 0.8rem;
    font: "metropolis",Arial,Helvetica,sans-serif;
    font-weight: 700;

    
    color: rgba(255,255,255,.85);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: calc(100% - 50px);
}



.cashbackFrame{
    font-size: 0.75rem;
    font: "metropolis",Arial,Helvetica,sans-serif;
    max-width: calc(100% - 50px);
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;

    position: absolute;
    background:#63e3c2;
    height: 25px;
    width: 45%;
    margin-top: -30px;
}

.cashbackInfo{

    color: #84e916;
    margin-right: 3px;
    margin-top: 5px;
    white-space: nowrap;
    font-size: 0.8rem;
    max-width: calc(100% - 50px);
    font-family: Arial, Helvetica, sans-serif;
    
}

.gameInfo{
    position: relative;
    /* width: 255px;
    height: 52px;
    left: 7px;
    top: 5px; */
    padding: 15px;
    padding-top: 10px;
    /* height: 30%; */

}

.gameName{
    color: white;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-height: 1.5;
    max-height: 3em;
}

.gameRegion{
    color: #23c299;
    text-transform: uppercase;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 0.8rem;
    font-weight: 700;
}

.priceInfo{
    position: relative;
    color: white;

    padding-left: 15px;
    padding-top: 10px;

    height: 23%;

    
   font-family: Arial, Helvetica, sans-serif;
    /* width: 255px;
    height: 68px;
    left: 7px;
    top: 57px; */
}

.priceOld{
    text-decoration: line-through;
}
.discountColor{
    color: #84e916;
    margin-right: 3px;
    white-space: nowrap;
}

.finalPrice{
    font-size: 1.5rem;
}

.heartIcon{
    /* max-width: 16px;
    min-width: 16px; */
    height: auto;
    display: flex;
    height:24px;
    width:24px;
}

.likes{
    position: relative;
    height: 20%;
    /* background-color: #63e3c2; */
    padding-left: 15px;
    display: flex;
    flex-direction: row;
    /* margin-left: 3px; */
}

.likeNumber{
    padding-left: 3px;
    padding-top: 5px;
    color: gray;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8rem;

}

.discountFrame{
    /* display: flex; */
    position: absolute;
    color: #b3aac9;
    position: relative;
    font-size: 0.7rem;
    

    height: 10px;
    margin-top: -15px;
    margin-bottom: 5px;
}



.gameImage{

    z-index:1;
    
    /* width:fit-content;
    height:fit-content; */
    object-fit:cover;
    position:relative;

    /* width:100%; */
    max-width:255px;
    max-height: 350px;
    

    /* align-content: center; */
    justify-content:center;
    align-items: center;
    justify-items: center; 
    overflow: hidden;
    
}

.gameImage img{
    /* position: relative;
    display: block;
    justify-content:center;
    align-items: center;
    justify-items: center; 
    max-width: 255px; */

    max-width:100%;
    max-height:100%;
    
}
