.topQuip{
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    height: 30px;
    width: 99%;
    background-color: rgb(134, 85, 180);
    margin: 10px;
    border: 1px solid rgb(178, 39, 186);
    border-radius: 15px;

    color: white;
    gap: 10px;
    font-size: 14px;
}