.UpperTab{

    gap: 20px;
    margin-bottom: 10%;
}



.AppContainer{
    display:flex;
    flex-direction: column;
    padding-left: 20%;
    padding-right:  20%;
}

.searchInput{
    width: 100%;
    /* padding: 12px; */
    /* margin: 8px 0; */
    display: inline-block;
    border: #ffffff00;
    /* border-radius: 4px; */
    box-sizing: border-box;
    background-color: #cccccc00;

    height: 50px;
}

.searchContainer{
    border: 1px solid #ccc;
    width: 100%;
    height: 50px;
    align-items: center;
    justify-content: center;

    /* min-width: 40%; */

    display: flex;
    flex-direction: row;
    padding: 10px;
    gap: 10px;
}
.SearchCC{
    min-width: 40%;
}

.xButton{
    background-color: #0000001b;

    background: none;
	color: inherit;
	border: none;
	/* padding: 0; */
	font: inherit;
	cursor: pointer;
	outline: inherit;

    width: 24px;
    height: 24px;

    justify-content:center;
    align-items: center;
    justify-items: center; 
    text-align: center;
    cursor: pointer;

    color: white;

    display: flex;
    flex-direction: row;
}

.RegionButtonSpace{
    display: flex;
    flex-direction: column;
    gap: 10px;

    min-width: 20%;

    /* min-width: 300px; */
}

.RegionButton{
    background-color: #00000000;

    background: none;
	color: inherit;
	border: none;
	/* padding: 0; */
	font: inherit;
	cursor: pointer;
	outline: inherit;
    color: white;
    gap: 10px;
    padding-left: 10px;
}

.imgGap{
    margin: -1px 6px 0 0;
}

input:focus,
input[type=text],
select:focus,
textarea:focus,
button:focus {
    outline: none;
    /* background-color: #0000001b; */
    caret-color: white;
    color: white;

    /* background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit; */
}

.TrioContainer{
    display: flex;
    flex-direction: row;
    gap:10px;

    width: 100%;

    justify-content:end;
    align-items: center;
    justify-items: center; 
    text-align: center;
}

.ProfilePic{
    border: 3px solid rgb(155, 0, 152);
    border-radius:50%;
}

.gamePanel{
    display: flex;
    flex-direction: column;
}